.input-large input {
    width: 24rem;
}

.input-small p-calendar {
    width: 10rem;
}

.input-small p-dropdown {
    width: 10rem;
}

.input-small input {
    width: 10rem;
}
.dialog-form {
    height: 100%;
}

.dialog-content {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    max-height: calc(100% - 2rem);
}

.dialog-footer {
    padding: 1rem;
    border-top: 1px solid #e0e0e0;
    background-color: white;
    z-index: 1;
    position: sticky;
    bottom: 0;
}