<p-sidebar [(visible)]="isSidenavOpen" [modal]="true"  (onHide)="isSidenavOpen = false" class="custom-sidebar">
  <div class="user-info">
    <i class="pi pi-user"></i> <!-- Ícone do usuário -->
    <span class="username">{{ username }}</span>
  </div>
  <ul class="custom-menu">
    <ng-container *ngFor="let item of items">
      <li>
        <a [routerLink]="item.link">
          <i class="pi" [ngClass]="item.icon"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
    </ng-container>
    <li>
      <a (click)="logout()">
        <i class="pi pi-sign-out"></i>
        <span>Sair</span>
      </a>
    </li>
  </ul>
</p-sidebar>
