@import '../../assets/styles/variables';
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; /* Alinha o conteúdo à direita */
  height: 100vh;
  padding: 20px;
  overflow: hidden;
  background-color: transparent;
  position: relative; /* Para posicionar elementos absolutamente dentro do contêiner */
}

.circle-bg {
  width: 52%; /* Largura do meio círculo (ajuste conforme necessário) */
  height: 125vh; /* Altura do círculo ocupa toda a altura da viewport */
  background-color: lightblue; /* Cor do meio círculo */
  border-radius: 600px 0  0 500px; /* Forma um meio círculo do lado esquerdo */
  position: absolute; /* Posiciona o meio círculo */
  right: 0; /* Mantém à esquerda da tela */
  top: 0;
  z-index: -1; /* Coloca o fundo atrás do conteúdo */
}

.logo-container {
  position: absolute; /* Permite que o logo seja posicionado absolutamente */
  left: 100px; /* Alinha o logo à esquerda */
  top: 50%; /* Posiciona o logo na metade da altura da tela */
  transform: translateY(-50%); /* Centraliza verticalmente */
  z-index: 1; /* Garante que o logo fique acima do fundo */
  
}

.doctors{
  position: absolute; /* Permite que o logo seja posicionado absolutamente */
  left: 150px; /* Alinha o logo à esquerda */
  top: 100%; /* Posiciona o logo na metade da altura da tela */
  transform: translateY(-50%); /* Centraliza verticalmente */
  z-index: 1; /* Garante que o logo fique acima do fundo */
}

.logo {
  width: auto; /* Ajusta conforme necessário */
  height: 100px; /* Ajuste a altura do logo conforme necessário */
}


.welcome {
  position: relative;
  margin-right: 100px;
  margin-bottom: 20px;
}

.welcome h1 {
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
  color: $color-text;
  margin: 0;
}

.welcome .welcome-sarm {
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
  color: $color-primary;
  margin: 0;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

button {
  width: 200px;
  padding: 15px 20px;
  margin: 12px;
  font-size: 18px;
  cursor: pointer;
  background-color: $color-secundary;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-right:225px;
}

button:hover {
  background-color: $color-primary;
}
