<!-- src/app/components/login/login.component.html -->
<div class="container">
  
  <header class="welcome">
    <h1>Welcome To</h1>
    <h1 class="welcome-sarm">SARM</h1>
  </header>

  <div class="logo-container">
    <img src="../../assets/logo.jpg" alt="Logo do SARM" class="logo">
  </div>

  <div class="doctors">
    <img src="../../assets/png-transparent-physician-doctor-patient-relationship-medicine-hospital-doctor-service-people-public-relations-thumbnail.png" alt="Doctors" class="doctors">
  </div>

  <body>
    <div class="circle-bg"></div>
  </body>
  

  <section class="auth-buttons">
    <button (click)="login()" aria-label="Login">Login</button>
    <button (click)="register()" aria-label="Register">Register</button>
  </section>
</div>
