.input-medium p-calendar {
    width: 12rem;
}

.input-medium p-dropdown {
    width: 12rem;
}

.input-large p-dropdown {
    width: 24rem;
}

.input-large input {
    width: 24rem;

}

.input-large p-multiSelect {
    width: 24rem;
}


