<div class="card flex justify-content-end">
    <p-toast></p-toast>
    <p-button class="mr-5" (onClick)="showDialog()" label="Add Operation Request" />
    <p-dialog header="Add Operation Request" [modal]="true" [(visible)]="visible"
        [style]="{ width: '32rem', maxHeight: '40rem' }">
        <span class="p-text-secondary block mb-2">Insert information.</span>
        <form [formGroup]="operationRequestForm" class="dialog-form">
            <div class="p-fluid dialog-content">
                <div class="flex flex-column gap-2 mb-2 input-large">
                    <label for="operationType">Operation Type</label>
                    <p-dropdown [options]="availableOperationTypes" [appendTo]="'body'" formControlName="operationType"
                        [filter]="true" filterBy="name" [virtualScroll]="true" [virtualScrollItemSize]="40"
                        scrollHeight="120px" placeholder="Select a Operation Type" optionLabel="name">
                    </p-dropdown>
                    <small
                        *ngIf="operationRequestForm.controls['operationType'].invalid && (operationRequestForm.controls['operationType'].dirty || operationRequestForm.controls['operationType'].touched)"
                        class="p-error">
                        Please select an Operation Type.
                    </small>
                </div>
                <div class="flex flex-column gap-2 mb-2 input-large">
                    <label for="patient">Patient</label>
                    <p-dropdown [options]="availablePatients" [appendTo]="'body'" formControlName="patient"
                        [filter]="true" filterBy="name" [virtualScroll]="true" [virtualScrollItemSize]="40"
                        scrollHeight="120px" placeholder="Select a Patient" optionLabel="id">
                    </p-dropdown>
                    <small
                        *ngIf="operationRequestForm.controls['patient'].invalid && (operationRequestForm.controls['patient'].dirty || operationRequestForm.controls['patient'].touched)"
                        class="p-error">
                        Please select a Patient.
                    </small>
                </div>

                <div class="flex flex-wrap gap-7">
                    <div class="flex flex-column gap-2 mb-2 input-small">
                        <label for="deadline">Date</label>
                        <p-calendar [appendTo]="'body'" id="deadline" formControlName="deadline"
                            dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy" [showIcon]="true" appendTo="body"
                            [iconDisplay]="'input'" [showOnFocus]="false" />
                        <small
                            *ngIf="operationRequestForm.controls['deadline'].invalid && (operationRequestForm.controls['deadline'].dirty || operationRequestForm.controls['deadline'].touched)"
                            class="p-error">
                            Select a Date.
                        </small>
                    </div>
                    <div class="flex flex-column gap-2 mb-2 input-small">
                        <label for="selectedPriority">Priority</label>
                        <p-dropdown placeholder="Select a Patient" id="selectedPriority" [appendTo]="'body'"
                            formControlName="selectedPriority" [options]="optionsPriority" />
                        <small
                            *ngIf="operationRequestForm.controls['selectedPriority'].invalid && (operationRequestForm.controls['selectedPriority'].dirty || operationRequestForm.controls['selectedPriority'].touched)"
                            class="p-error">
                            Please Select a Priority.
                        </small>
                    </div>
                </div>
            </div>
        </form>
        <ng-template pTemplate="footer">
            <div class="flex justify-content-center gap-2 dialog-footer">
                <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
                <p-button label="Save" (onClick)="saveData()" />
            </div>
        </ng-template>
    </p-dialog>
</div>