<div class="card flex justify-content-end mr-2">
    <p-button (onClick)="showDialog()" [outlined]="true" severity="primary" icon="pi pi-pencil" [disabled]="staff?.status != 'ACTIVE'"/>
    <p-dialog header="Edit Staff Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '45rem', maxHeight: '40rem' }" [appendTo]="'body'">
        <p-toast></p-toast>
        <div class="p-fluid dialog-content">
            <div class="flex flex-column gap-2 mb-2 input-large">
                <form [formGroup]="staffForm" class="dialog-form">
                    <span class="p-text-secondary block mt-5 mb-3">Edit staff data.</span>
                    <div class="flex flex-wrap gap-7">
                        <div class="flex flex-column gap-2 mb-2 input-large">
                            <label for="email">Email</label>
                            <input pInputText id="email" formControlName="email"/>
                            <small
                                *ngIf="staffForm.controls['email'].invalid && (staffForm.controls['email'].dirty || staffForm.controls['email'].touched)"
                                class="p-error">
                                Invalid email.
                            </small>
                        </div>
                        <div class="flex flex-column gap-2 mb-2 input-small">
                            <label for="phoneNumber">Phone Number</label>
                            <input pInputText id="phoneNumber" formControlName="phoneNumber" />
                            <small
                                *ngIf="staffForm.controls['phoneNumber'].invalid && (staffForm.controls['phoneNumber'].dirty || staffForm.controls['phoneNumber'].touched)"
                                class="p-error">
                                Invalid phone
                            </small>
                        </div>
                    </div>  
                    <div class="flex flex-wrap gap-7">
                        <div class="flex flex-column gap-2 mb-2 input-large">
                            <label for="specialization">Specialization</label>
                            <p-dropdown [options]="availableSpecializations" 
                            [appendTo]="'body'"
                            formControlName="specialization" [filter]="true"
                            filterBy="name" [virtualScroll]="true"
                            [virtualScrollItemSize]="40"
                            scrollHeight="120px"
                                placeholder="Select a Specialization" optionLabel="name">
                            </p-dropdown>
                            <small
                                *ngIf="staffForm.controls['specialization'].invalid && (staffForm.controls['specialization'].dirty || staffForm.controls['specialization'].touched)"
                                class="p-error">
                                Please select a specialization.
                            </small>
                        </div>
                        <div class="flex flex-column gap-2 mb-2input-small button-margin">
                            <p-button icon="pi pi-save" severity="primary" (onClick)="changeInfo()"/>
                        </div>
                    </div>
                </form>
                <form [formGroup]="addAvailabilitySlotForm" class="dialog-form">
                    <span class="p-text-secondary block mt-5 mb-3">Add Availability Slot</span>
                    <div class="flex flex-wrap gap-7">
                        <div class="flex flex-column gap-2 mb-2 input-small">
                            <label for="startTime">Start Time</label>
                            <p-calendar id="startTime" formControlName="startTime" dateFormat="dd/mm/yy" placeholder="Start Time" [showTime]="true" [showIcon]="true" appendTo="body" [iconDisplay]="'input'" [showOnFocus]="false" />
                        </div>
                        <div class="flex flex-column gap-2 mb-2 input-small">
                            <label for="endTime">End Time</label>
                            <p-calendar id="endTime" formControlName="endTime" dateFormat="dd/mm/yy" placeholder="End Time" [showTime]="true" [showIcon]="true" appendTo="body" [iconDisplay]="'input'" [showOnFocus]="false" />
                        </div>
                        <div class="flex flex-column gap-2 mb-2 button-margin input-small">
                            <p-button icon="pi pi-plus" severity="primary" (onClick)="addAvailabilitySlot()"/>
                        </div>
                    </div>
                </form>
                <form [formGroup]="removeAvailabilitySlotForm" class="dialog-form">
                    <span class="p-text-secondary block mt-5 mb-3">Remove Availability Slot.</span>
                    <div class="flex flex-wrap gap-7">
                        <div class="flex flex-column gap-2 mb-2 input-large">
                            <label for="availabilitySlot">Please select an availability slot</label>
                            <p-dropdown [options]="staff?.availabilitySlots" 
                            [appendTo]="'body'"
                            formControlName="availabilitySlot" [filter]="true"
                            filterBy="name" [virtualScroll]="true"
                            [virtualScrollItemSize]="40"
                            scrollHeight="120px"
                                placeholder="Select an Availability Slot" optionLabel="name"
                                (onShow)="nameAvailabilitySlots()">
                            </p-dropdown>
                        </div>
                        <div class="flex flex-column gap-2 mb-2 button-margin input-small">
                            <p-button icon="pi pi-trash" severity="danger" (onClick)="removeAvailabilitySlot()"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <div class="flex justify-content-center mt-2 gap-2 dialog-footer">
                <p-button label="Close" severity="secondary" (onClick)="closeDialog()" />
            </div>
        </ng-template>
    </p-dialog>
</div>