.paneltotal {
    display: flex;
    justify-content: space-between; /* Espaça os itens nas extremidades */
    align-items: flex-start; /* Alinha o conteúdo ao topo */
    width: 100%;
    margin: 20px;
}

.left-panel {
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
    width: 40%; /* A largura dos elementos da esquerda */
    gap: 20px; /* Espaçamento entre os cards e o botão */
}

.card, .cardButtonSuc {
    margin-left: 20px;
    margin-top: 15px;
}

.card input {
    width: 50%;
    height: 35px; /* Altura do campo de entrada */
    font-size: 16px; /* Tamanho da fonte no campo de entrada */
}

.cardButtonSuc #button {
    font-size: 15px;
    margin-top: 0px;
}

.right-panel {
    flex: 1; /* Faz a tabela ocupar a metade direita */
    margin-left: 20px; /* Adiciona um espaço entre o botão e a tabela */
}
