<div class="paneltotal">
    <div class="left-panel">
        <div class="card">
            <p-floatLabel>
                <input pInputText id="OperationTypeId" [(ngModel)]="OperationTypeId" />
                <label for="OperationTypeId">Operation Type Id:</label>
            </p-floatLabel>
        </div>

        <div class="card">
            <p-floatLabel>
                <input pInputText id="MedicalRecordNumber" [(ngModel)]="MedicalRecordNumber" />
                <label for="MedicalRecordNumber">Patient Medical Record Number:</label>
            </p-floatLabel>
        </div>

        <div class="card">
            <p-floatLabel>
                <p-dropdown 
                    [options]="optionsStatus"
                    [(ngModel)]="selectedStatus"
                    optionLabel="label"
                    inputId="status" />
                <label for="status">Status:</label>
            </p-floatLabel>
        </div>

        <div class="card">
            <p-floatLabel>
                <p-dropdown 
                    [options]="optionsPriority"
                    [(ngModel)]="selectedPriority"
                    optionLabel="label"
                    inputId="priority" />
                <label for="priority">Priority:</label>
            </p-floatLabel>
        </div>

        <div class="cardButtonSuc">
            <button id="button"
                pButton 
                pRipple 
                label="List Operation Requests" 
                icon="pi pi-check"
                class="p-button-success">
            </button>
        </div>
    </div>

    <div class="right-panel">
        <p-dataView #dv [value]="operationRequests" [rows]="5" [paginator]="true">
            <ng-template pTemplate="list" let-products>
                <div class="grid grid-nogutter">
                    <div class="col-12" *ngFor="let item of operationRequests; let first = first" class="col-12">
                        <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                            <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                                <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                    <div>
                                        <span class="font-medium text-secondary text-sm">{{ item.id }}</span>
                                        <div class="text-lg font-medium text-900 mt-2">{{ item.DoctorId }}</div>
                                        <div class="text-lg font-medium text-900 mt-2">{{ item.MedicalRecordNumber }}</div>
                                    </div>
                                </div>
                                <div class="flex flex-column md:align-items-end gap-5">
                                    <span class="text-xl font-semibold text-900">{{ item.Deadline }}</span>
                                    <div class="flex flex-row-reverse md:flex-row gap-2">
                                        <span class="text-xl text-900">{{ item.Priority }}</span>
                                        <span class="text-xl text-900">{{ item.Status }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>
