<div class="card flex justify-content-end mr-2">
    <p-button (onClick)="showDialog()" [outlined]="true" severity="primary" icon="pi pi-pencil"/>
    <p-dialog header="Edit Operation Request" [modal]="true" [(visible)]="visible" [style]="{ width: '35rem', maxHeight: '40rem' }" [appendTo]="'body'">
        <div class="p-fluid dialog-content">
            <div class="flex flex-column gap-2 mb-2 input-large">
                <form [formGroup]="operationRequestForm" class="dialog-form">
                    <span class="p-text-secondary block mt-5 mb-3">Edit Operation Request data.</span>
                    <div class="flex flex-wrap gap-7">
                        <div class="flex flex-column gap-2 mb-2 input-small">
                            <label for="deadline">Date</label>
                            <p-calendar [appendTo]="'body'" id="deadline" formControlName="deadline"
                                dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy" [showIcon]="true" appendTo="body"
                                [iconDisplay]="'input'" [showOnFocus]="false" />
                            <small
                                *ngIf="operationRequestForm.controls['deadline'].invalid && (operationRequestForm.controls['deadline'].dirty || operationRequestForm.controls['deadline'].touched)"
                                class="p-error">
                                Select a Date.
                            </small>
                        </div>
                        <div class="flex flex-column gap-2 mb-2 input-small">
                            <label for="selectedPriority">Priority</label>
                            <p-dropdown placeholder="Select a Priority" id="selectedPriority" [appendTo]="'body'"
                                formControlName="selectedPriority" [options]="optionsPriority" />
                            <small
                                *ngIf="operationRequestForm.controls['selectedPriority'].invalid && (operationRequestForm.controls['selectedPriority'].dirty || operationRequestForm.controls['selectedPriority'].touched)"
                                class="p-error">
                                Please Select a Priority.
                            </small>
                        </div>
                    </div>
                </form>
                <div class="flex justify-content-center mt-2 gap-2 dialog-footer">
                    <p-button label="Close" severity="secondary" (onClick)="closeDialog()" />
                    <p-button label="Save" severity="primary" (onClick)="changeInfo()"/>
                </div>
            </div>
        </div>
    </p-dialog>
</div>
