

.card input {
    width: 100%;
    height: 30px; /* Altura do campo de entrada */
    font-size: 16px; /* Tamanho da fonte no campo de entrada */
}


.btn {
    margin-left: 40px;
    margin-top: -14px;
    width: 17%;
}

.btns{
    margin-top: 30px;
}