$color-primary: #8cb1db;
$color-secundary: #99c0d4;
$color-neutral-light: #E0E0E0;
$color-neutral-dark: #666666;
$color-accent: #64D2FF;
$color-text: #6a6d6e; 
$color-accept: #008614;
$color-decline: #c21f1f;  

// Font
$font-family-default: 'Arial, sans-serif';
$font-size-base: 16px;
$line-height-base: 1.5;
