<div class="card flex justify-content-center m-5">
    <p-button (onClick)="showDialog()" label="Add Operation Type" />
    <p-dialog header="Add Operation Type" [modal]="true" [(visible)]="visible"
        [style]="{ width: '32rem', maxHeight: '40rem' }">
        <span class="p-text-secondary block mb-2">Insert information.</span>
        <form [formGroup]="operationTypeForm" class="dialog-form">
            <div class="p-fluid dialog-content">
                <div class="flex flex-column gap-2 mb-2 input-large">
                    <label for="name">Name</label>
                    <input pInputText id="name" aria-describedby="name-help" formControlName="name" />
                    <small
                        *ngIf="operationTypeForm.controls['name'].invalid && (operationTypeForm.controls['name'].dirty || operationTypeForm.controls['name'].touched)"
                        class="p-error">
                        Is required.
                    </small>
                </div>
                <div class="flex flex-wrap gap-7">
                    <div class="flex flex-column gap-2 mb-2 input-small">
                        <label for="estimated-duration">Estimated Duration</label>
                        <p-inputNumber formControlName="estimatedDuration" inputId="estimated-duration" mode="decimal"
                            [min]="1" suffix=" min" />
                        <small
                            *ngIf="operationTypeForm.controls['estimatedDuration'].invalid && (operationTypeForm.controls['estimatedDuration'].dirty || operationTypeForm.controls['estimatedDuration'].touched)"
                            class="p-error">
                            Is required.
                        </small>
                    </div>
                    <div class="flex flex-column gap-2 mb-2 input-small">
                        <label for="surgery-time">Surgery Time</label>
                        <p-inputNumber formControlName="surgeryTime" inputId="surgery-time" mode="decimal" [min]="1"
                            suffix=" min" />
                        <small
                            *ngIf="operationTypeForm.controls['surgeryTime'].invalid && (operationTypeForm.controls['surgeryTime'].dirty || operationTypeForm.controls['surgeryTime'].touched)"
                            class="p-error">
                            Is required.
                        </small>
                    </div>
                </div>
                <div class="flex flex-wrap gap-7">
                    <div class="flex flex-column gap-2 mb-2 input-small">
                        <label for="anesthesia-time">Anesthesia Time</label>
                        <p-inputNumber formControlName="anesthesiaTime" inputId="anesthesia-time" mode="decimal"
                            [min]="1" suffix=" min" />
                        <small
                            *ngIf="operationTypeForm.controls['anesthesiaTime'].invalid && (operationTypeForm.controls['anesthesiaTime'].dirty || operationTypeForm.controls['anesthesiaTime'].touched)"
                            class="p-error">
                            Is required.
                        </small>
                    </div>
                    <div class="flex flex-column gap-2 mb-2 input-small">
                        <label for="cleaning-time">Cleaning Time</label>
                        <p-inputNumber formControlName="cleaningTime" inputId="cleaning-time" mode="decimal" [min]="1"
                            suffix=" min" />
                        <small
                            *ngIf="operationTypeForm.controls['cleaningTime'].invalid && (operationTypeForm.controls['cleaningTime'].dirty || operationTypeForm.controls['cleaningTime'].touched)"
                            class="p-error">
                            Is required.
                        </small>
                    </div>
                </div>
                <div class="flex flex-column gap-2 mb-2 input-large">
                    <label for="specialization">Select Specializations</label>
                    <p-dropdown [options]="availableSpecializations" 
                    [appendTo]="'body'"
                    formControlName="selectedSpecialization" [filter]="true"
                    filterBy="name" [virtualScroll]="true"
                    [virtualScrollItemSize]="40"
                    scrollHeight="120px"
                        placeholder="Select a Specialization" optionLabel="name" (onChange)="addSpecialization()">
                    </p-dropdown>
                    <small
                        *ngIf="operationTypeForm.controls['selectedSpecialization'].invalid && (operationTypeForm.controls['selectedSpecialization'].dirty || operationTypeForm.controls['selectedSpecialization'].touched)"
                        class="p-error">
                        Please select a specialization.
                    </small>
                </div>
                <div *ngIf="selectedSpecializations.length > 0" class="table-container" >
                    <table class="p-table p-component">
                        <thead>
                            <tr>
                                <th class="pl-2 pr-2">Specialization</th>
                                <th class="pl-2 pr-2">Number Of Staff</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of selectedSpecializations">
                                <td class="pl-2 pr-2">{{ item.specialization.name }}</td>
                                <td class="input-small pl-2 pr-2">
                                    <p-inputNumber [(ngModel)]="item.numberOfStaff" [min]="1" />
                                </td>
                                <td class="pl-2 pr-2">
                                    <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true"
                                        (onClick)="removeSpecialization(item)" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="flex justify-content-center mt-2 gap-2 dialog-footer">
                <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
                <p-button label="Save" (onClick)="saveData()" />
            </div>
        </form>
    </p-dialog>
</div>